footer {
	background: url("../img/last-bg.png") no-repeat center;
	background-size: cover;
	box-shadow: inset 0px 1px 18px 0px rgba(0, 0, 0, 0.24);
	padding: 60px 0 100px 0;
	.footer-link {
		display: flex;
		justify-content: center;
		align-items: center;
		a, p {
			font-size: 18px;
			text-decoration: none;
			color: #0e0f0e;
			cursor: pointer;
		}
		.phone-icon {
			background: url("../img/phone-icon.png") no-repeat center left;
			background-size: contain;
			padding-left: 52px;
		}
		.email-icon {
			background: url("../img/email-icon.png") no-repeat center left;
			background-size: contain;
			padding-left: 52px;
		}
		.place-icon {
			background: url("../img/place-icon.png") no-repeat center left;
			padding-left: 40px;
		}
	}
}