header {
	.logo {
		text-align: center;
	}
	.header-link {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		margin-top: 50px;
		a {
			color: #3f3f3f;
			text-decoration: none;
			font-size: 20px;
			border: 3px solid transparent;
			padding: 7px 25px;
			transition: .3s;
			&:hover {
				border: 3px solid #cb9e34;
			}
		}
	}
	.navbar {
		padding: 0;
	}
}