.modal-dialog {
	max-width: 800px;
	.modal-content {
		padding: 50px 40px 40px 40px;
	}
	h4 {
		font-weight: bold;
		color: #333333;
		text-transform: none;
		text-align: center;
		margin-bottom: 35px;
	}
	.form-group {
		margin-bottom: 12px;
	}
	input {
		width: 100%;
		font-family: $cormorant-font;
		font-size: 18px;
		color: #333333;
		padding: 10px 0 10px 35px;
		font-weight: 300;
		border: 1px solid #d7d7d7;
		outline: none;
		&:focus {
			outline: none;
		}
	}
	.jq-selectbox__select {
		border: 1px solid #d7d7d7!important;
		padding-left: 35px;
	}
	.jq-selectbox__trigger {
		transform: rotate(90deg);
	}
	.jq-selectbox li {
		color: #333333;
		background: #ffffff;
		transition: .3s;
		&:hover {
			background: #fcdd4a;
		}
	}
	.jq-selectbox__dropdown {
		top: 100%!important;
	}
	.btn {
		background: #fcdd4a;
		border-radius: 5px;
		padding: 16px 16px;
		width: 363px;
		border: none;
		font-weight: bold;
		cursor: pointer;
		margin-top: 30px;
	}
}