.section-4 {
	padding: 50px 0 60px 0;
	background: #ffffff;
	h3 {
		margin-bottom: 0;
	}
	.conditions-block {
		text-align: center;
		margin-top: 40px;
		img {
			width: 100%;
			margin-bottom: 25px;
		}
		p {
			font-size: 18px;
			color: #0e0f0e;
		}
	}
}
