.section-1 {
	background: url("../img/first-bg.png") no-repeat center left;
	background-size: cover;
	padding-bottom: 300px;
	.title {
		margin-top: 100px;
	}
	.btn-block {
		margin-top: 30px;
	}
}
.btn-block {
	display: flex;
	justify-content: flex-start;
}
.btn {
	color: #ffffff;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	background: #4b9a6d;
	padding: 8px 45px;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 30px;
	transition: .3s;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.75);
	&:hover {
		background: #16b259;
	}
}

