.section-6 {
	padding: 70px 0 70px 0;
	h3 {
		margin-bottom: 0;
	}
	.vacancy {
		margin-top: 50px;
	}
	.vacancy-img {
		display: flex;
		align-items: center;
		img {
			width: 100%;
		}
	}
	.vacancy-description {
		.text-block {
			p {
				font-size: 18px;
				font-weight: 400;
				color: #0e0f0e;
				&:first-child {
					font-family: $cormorant-font;
					text-transform: uppercase;
					font-size: 24px;
					color: #000000;
					margin-bottom: 20px;
				}
			}
		}
	}
	.btn-block {
		margin-top: 40px;
	}
}