.section-3 {
	padding: 95px 0 80px 0;
	background: url("../img/grey-bg.png") no-repeat center;
	background-size: cover;
	box-shadow: inset 0px 1px 18px 0px rgba(0, 0, 0, 0.24);
	h3 {
		margin-bottom: 0;
	}
	.peace-of-team {
		text-align: center;
		margin-top: 90px;
		p {
			color: #0e0f0e;
			font-size: 17px;
		}
		img {
			height: 74px;
			margin-bottom: 20px;
		}
	}
}

