.section-5 {
	padding: 45px 0;
	background: url("../img/second-bg.png") no-repeat center;
	background-size: cover;
	box-shadow: inset 0px 1px 18px 0px rgba(0, 0, 0, 0.24);
	h3 {
		margin-bottom: 0;
		color: #ffffff;
	}
	.form-block {
		margin-top: 30px;
	}
	.form-group {
		margin-top: 10px;
		input {
			color: #ffffff;
			background: rgba(0, 0, 0, .2);
			width: 100%;
			border: 0;
			outline: none;
			padding: 14px 0 14px 45px;
			font-size: 18px;
			font-family: $reg-font;
		}
	}
	.btn-block {
		justify-content: center;
		margin-top: 35px;
	}
}
::-webkit-input-placeholder {
	color: #ffffff;
}
::-moz-placeholder {
	color: #ffffff;
}
:-moz-placeholder {
	color: #ffffff;
}
:-ms-input-placeholder {
	color: #ffffff;
}