.section-2 {
	position: relative;
	h3 {
		margin-bottom: 0;
	}
	.about-block {
		/*position: absolute;
		top: -45px;
		bottom: -35px;
		left: 0;
		right: 0;*/
		box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
		background: #ffffff;
		padding: 60px 15px 60px 15px;
		margin-top: -60px;
		margin-bottom: -38px;
		position: relative;
		z-index: 5;
	}
	.description {
		margin-top: 50px;
		p {
			color: #0e0f0e;
			font-size: 18px;
		}
	}
	.numbers {
		margin-top: 20px;
		text-align: center;
		p {
			color: #0e0f0e;
			font-size: 18px;
			&:first-child {
				font-family: $cormorant-font;
				color: #cb9e34;
				font-weight: 400;
				font-size: 72px;
				line-height: 72px;
				margin-bottom: 15px;
			}
		}
	}
}
