@font-face{
	font-family: 'ProximaNova-Regular';
	src: url('../fonts/ProximaNova-Regular.ttf');
	font-weight: 400;
}
@import url('https://fonts.googleapis.com/css?family=Cormorant:300,400&subset=cyrillic');