@media screen and (max-width: 1230px) {
	header .header-link a {
		font-size: 18px;
		padding: 7px 14px;
	}
}
@media screen and (max-width: 991px) {
	header .navbar {
		width: 100%;
		justify-content: flex-end;
		position: relative;
		.navbar-collapse {
			position: absolute;
			top: 100%;
			right: 0;
			.navbar-nav {
				margin-top: 5px;
				align-items: center;
				box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
				background: #ffffff;
				li {
					margin-top: 7px;
				}
			}
		}
	}
	header .header-link a {
		&:hover {
			border: 3px solid transparent;
		}
	}
	.navbar-toggler {
		background: url("../img/burger.png") no-repeat right;
		background-size: contain;
		width: 100%;
		height: 25px;
		cursor: pointer;
	}
	.section-1 {
		padding-bottom: 200px;
	}
	footer h3 {
		margin-bottom: 0;
	}
	footer .footer-link {
		margin-top: 30px;
	}
}
@media screen and (max-width: 767px) {
	h1, h2 {
		font-size: 47px;
	}
	h1 span, h2 span {
		font-size: 26px;
	}
	.section-6 .vacancy-description {
		margin-top: 20px;
	}
}
@media screen and (max-width: 575px) {
	h1, h2 {
		font-size: 40px;
	}
	h1 span, h2 span {
		font-size: 20px;
	}
	.btn {
		font-size: 24px;
	}
	h3 {
		font-size: 30px;
	}
	.section-2 .description p, .section-2 .numbers p,
	.section-3 .peace-of-team p, .section-4 .conditions-block p,
	.section-6 .vacancy-description .text-block p {
		font-size: 16px;
	}
	header .header-link a {
		font-size: 16px;
	}
	.section-3 .peace-of-team {
		margin-top: 35px;
	}
	.section-2 .about-block {
		padding: 30px 15px 40px 15px;
	}
	.section-3 {
		padding: 65px 0 80px 0;
	}
	.section-4 {
		padding: 40px 0 60px 0;
	}
	.section-6 {
		padding: 40px 0 70px 0;
	}
}
@media screen and (max-width: 417px) {
	header .logo {
		img {
			width: 100%;
		}
	}
	h1, h2 {
		font-size: 35px;
		line-height: 35px;
	}
	h3 {
		font-size: 25px;
	}
	.section-2 .description {
		margin-top: 25px;
	}
}
@media screen and (max-width: 395px) {
	header .header-link a {
		font-size: 14px;
	}
}
@media screen and (max-width: 360px) {
	header .header-link a {
		padding: 7px 2px;
	}
}