@import 'libs';
@import 'fonts';
// colors
$body-background: #ffffff;
$white-color: #ffffff;

// fonts
$reg-font: 'ProximaNova-Regular', sans-serif;
$cormorant-font: 'Cormorant', serif;

html {
  	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	color: #000000;
	font-size: 16px;
	font-weight: 400;
	background: $body-background;
	font-family: $reg-font;
}
h1, h2 {
	font-family: $cormorant-font;
	font-size: 60px;
	line-height: 46px;
	color: #000000;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 20px;
	text-align: left;
	span {
		font-size: 30px;
		display: block;
	}
}
h3 {
	font-family: $cormorant-font;
	font-size: 36px;
	color: #000000;
	font-weight: 400;
	margin-bottom: 45px;
	text-align: center;
	text-transform: uppercase;
}
h4 {
	font-family: $cormorant-font;
	font-size: 24px;
	text-transform: uppercase;
	margin: 0;
	color: $white-color;
}
a {
	color: inherit;
	&:hover {
		color: inherit;
		text-decoration: none;
	}
}
ul {
	margin: 0;
	padding: 0;
}
p {
	margin-bottom: 0;
}
b {
	font-weight: bold;
}
button:focus {
	outline: none;
}

@import 'index';